<h1>
  Frequently Asked Questions
</h1>
<div>
  <div style="color:red">Q.1) Which users are allowed to enrol themselves?</div>
  A) Only those users for whom we found that eligibility checks are okay, they can easily enrol themselves and start investing in these pools. You can see your eligibility check at top right of your screen.

  <div style="color:red">Q.2) Can I withdraw money from already enrolled pools before end of the tenure?</div>
  A) This scheme is mainly implemented to help our users who need bulk money without much hassles, so yes you are allowed to withdraw money by winning an auction, once you win an auction you will get the entire amount of the pool in that month minus the bid amount. But you need to repay all your remaining instalments for all your enrolled pools.

  <div style="color:red">Q.3) How will I get money if I win an auction?</div>
  A) Money will be directly transferred to your registered account within 5-7 working days after processing at various levels from our end.

  <div style="color:red">Q.4) Can I enrol myself into multiple pools at a given time?</div>
  A) Yes, you can enrol yourself to multiple pools at the same time. But eligibility checks are happening at background for each user so in-case if your eligibility limit is crossing then you can not enrol in new pool before completing existing pools.

  <div style="color:red">Q.5) Can I shortlist any pool for future reference?</div>
  A) Yes, you can shortlist any pool for future references and same can be seen under My Pools page. But shortlisting a pool doesn’t mean you have enrolled for that pool hence you need not to pay money for your shortlisted pools.

  <div style="color:red">Q.6) I can some graph appearing at my dashboard page, what is the use of this graph?</div>
  A) The graph is depicting your earnings and expenses in last 6 months, that will help you to understand your savings trend in each money so that you can invest your savings money and get maximum benefit out of it. Also, this will help you to monitor & analyse your expenses to optimise it.

  <div style="color:red">Q.7) In-case, no bid has been made in a said month then who will get money?</div>
  A) Generally, we encourage our valuable customers to withdraw their money if they require, however in-case no user want to withdraw money in a particular month then money will not be distributed to any user and will be refunded to user at the time of end of pool tenure with the interest amount.

  <div style="color:red">Q.8) Shall I be allowed to participate in auction in coming months if I win an auction in current month?</div>
  A) No, any user who already won an auction in any month he/she will not be allowed to participate in auction in coming months, also he/she is not entitled to get any more benefit from that particular pool. However, user needs to repay remaining instalments even after winning the auction in a month.

  <div style="color:red">Q.9) How much amount I will get if anyone else wins an auction from my enrolled pool?</div>
  A) Highest bid amount will be distributed to remaining participants hence amount may vary depending upon various factors like the bid amount, no of stakeholders left etc. This amount will be directly transferred to your registered bank account within 5-7 working days after processing at various levels from our end.

</div>
